div{text-align: center;}
#position{
    width: 950px;
    margin: 10px auto;
}
#pos1{
    height: 480px;
    width: 900px;
    /*background-color: aqua;*/
}

#pos2{
    height: 350px;
    margin-top:50px;
   /* background-color: firebrick;*/
}

.shadow{
-webkit-box-shadow: 7px 9px 9px -6px rgba(186,186,186,1);
-moz-box-shadow: 7px 9px 9px -6px rgba(186,186,186,1);
box-shadow: 7px 9px 9px -6px rgba(186,186,186,1);
}


body{background-color: #7e037e;}
