div{text-align: center;}
#position{
    width: 950px;
    margin: 10px auto;
}
#pos1{
    height: 480px;
    width: 900px;
    /*background-color: aqua;*/
}

#pos2{
    height: 350px;
   /* background-color: firebrick;*/
}

#menu{
    width:250px;
    height:400px;
    float: left;
}
#menug{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#menug li{
    display: inline;
    float: left;
    width: 150px;
    background-color: #ddd;
    margin-right : 5px;
    text-align: center;
}

#menu li:hover{
    background-color: #ccc;
}

#menu li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
