div{text-align: center;}
#position{
    width: 950px;
    margin: 10px auto;
}
#pos1{
    height: 480px;
    width: 900px;
    /*background-color: aqua;*/
}

#pos2{
    height: 350px;
    margin-top:50px;
   /* background-color: firebrick;*/
}
#banner{
    height: 480px;
    width: 100vw;
    clear:both;
    background-image: url("imageslrdj/le_retour_du_jeudi.png");
    background-size: cover;
    position:fixed;
    top:0px;
}
.shadow{
-webkit-box-shadow: 7px 9px 9px -6px rgba(186,186,186,1);
-moz-box-shadow: 7px 9px 9px -6px rgba(186,186,186,1);
box-shadow: 7px 9px 9px -6px rgba(186,186,186,1);
}


body{height:105vh;}
