div{text-align: center;}
#position{
    width: 950px;
    /*margin: 10px auto;*/
}
#pos1{
    height: 480px;
    /*background-color: aqua;*/
}

#pos2{
    height: 350px;
   /* background-color: firebrick;*/
}

#pos2 iframe{
    -webkit-box-shadow: 4px 4px 7px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 7px -4px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 7px -4px rgba(0,0,0,0.75);
}
